$color-primary: #3d3d34;
$color-secondary: #5d5c49;
$color-tertiary: #dcdbaf;
$color-white: #f4f4dd;
$color-contrast: #c7005d;

$font-size-base: 1rem;

$font-color-main: #2c2c2c;
$font-color-contrast: $color-white;

$space-xs: 0.5rem;
$space-sm: 1rem;
$space-md: 1.5rem;
$space-lg: 3rem;
$space-xl: 6rem;
